
:root {
    --white: #ffffff;
    --yellow: #FFD723;
    --dark-green: #4D533C;
    --dark-blue: #152934;
    --grey: #D4D6D4;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.container {
    max-width: 1130px;
    width: 100%;
    padding: 0px 10px;
    margin: 0px auto;
}