/*normalize css*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
  
*, *:before, *:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus, :active {
outline: none;
}

a:focus, a:active {
outline: none;
}

nav, footer, header, aside {
display: block;
}

html, body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
font-weight: 400;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input, button, textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}

button {
cursor: pointer;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}

a, a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

ul li {
list-style: none;
}

img {
vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
font-size: inherit;
font-weight: inherit;
}
  
/*--------------------------*/

:root {
    --blue: #44667c;
    --white: #ffffff;
    --orange: #d8770f;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.container {
    max-width: 980px;
    width: 100%;
    padding: 0px 10px;
    margin: 0px auto;
}

.header 

.supheader {
    background-color: var(--blue);
}

.supheader__block {
    display: flex;
    justify-content: end;
    align-items: center;
}

.supheader__list {
    display: flex;
    flex-direction: row;
}

.supheader__list li{
    padding: 4px 12px;
}

.supheader__link {
    display: block;
    color: var(--white);
}

.header__socials-list {
    display: flex;
    flex-direction: row;
} 

.header__socials-list {
    padding: 4px 12px;
}

.socials__link {

}

.fa-brands {

}

.fa-facebook {
    
}

.fa-facebook::before{
}


.fa-twitter-square {

}

.fa-linkedin-in {

}

.search__box {
}

.search__link {

}

.fa-solid {

}

.fa-magnifying-glass {

}