
.main {
    background-image: url('@img/main-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: rem(97);
    padding-bottom: rem(210);

    &__container {}

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 50%;
    }

    &__value {
        font-family: $fontFamily;
        font-size: rem(14);
        line-height: math.div(21, 14);
        font-weight: 400;
        margin-bottom: rem(22);
        color: $whiteColor;
    }

    &__label {
        font-family: $fontFamily;
        font-size: rem(60);
        line-height: math.div(74, 60);
        font-weight: 700;
        margin-bottom: rem(24);
        color: $whiteColor;
    }

    &__text {
        font-family: $fontFamily;
        font-size: rem(16);
        line-height: math.div(26, 16);
        font-weight: 400;
        margin-bottom: rem(45);
        color: $whiteColor;
    }

    &__link {
        position: relative;
        font-family: $fontFamily;
        font-size: rem(16);
        line-height: math.div(24, 16);
        font-weight: 400;
        color: $accentColor;
        padding-left: rem(15);

        &::before{
            content:'';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 5px solid $accentColor;
            border-bottom: 5px solid transparent;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
}

